################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PractiseProject/.vs/PractiseProject/v17
/PractiseProject/Exam1/bin/Debug/net6.0
/PractiseProject/Exam1/obj
/PractiseProject/PractiseProject/obj
