################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio related directories
.vscode
*.suo
*.user
.vs

# Ignore build artifacts
*/bin/
*/obj/
